<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>

    </title>
</head>
<body>
<table>
    {% for i in range(length) %}
        <tr>
            <th>Account no: {{ accounts[i].Account.account_number }}</th>
        </tr>
        <tr>
            <th>Account cvv: {{ accounts[i].Account.cvv }}</th>
        </tr>
        <tr>
            <th>Account exp date: {{ accounts[i].Account.expire_date }}</th>
        </tr>
        <tr>
            <th>Account amount: {{ accounts[i].amount or 0}}</th>
        </tr>
        <p>---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- ---- </p>

    {% endfor %}
</table>
</body>
</html>